@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Playfair&family=Raleway:wght@300;600&display=swap');


body {
  background-color: #EAAC8B;
  color: #B56576;
  text-align: center;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: #355070;
  padding: 20px 40px 20px 40px;
  border-radius: 20px;
}

.title {
  font-family: 'Bagel Fat One', cursive;
  font-size: 900%;
}

.btn-danger {
  width: fit-content;
  min-width: 160px;
  margin: 5px 10px 5px 10px;
  background-color: #6D597A;
  border: none;
  border-radius: 20px;
  padding: 15px 20px 15px 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 125%;
}

.btn-danger:hover {
  background-color: #44384d;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: xx-large;
}

.navbar {
  background-color: #B56576 !important;
  height: 8rem;
}

.btn-primary {
  padding: 15px;
  border: none;
  border-radius: 20px;
  width: 160px;
  margin: 15px;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

.form-control {
  margin: 10px 0 10px 0;
  font-family: 'Raleway', sans-serif;
}

.form-select {
  font-family: 'Raleway', sans-serif;
}

.card {
  margin: 5px;
  border-radius: 15px;
  border: whitesmoke 1px solid;
}

.card-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.card-subtitle { 
  font-family: 'Raleway', sans-serif;
}

.card-text {
  font-family: 'Raleway', sans-serif;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.fas {
  margin: 10px;
  size: 50px;
}

#app {
  margin-top: 0 !important;
}

#nav-logo {
  margin-left: 15px;
}

#nav-title {
  font-family: 'Bagel Fat One', cursive;
  font-size: 180%;
  margin: 15px;
  color: whitesmoke;
}

#search {
  width: fit-content;
  margin-right: 10px;
}

#nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#filter-btn-group {
  margin: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#fortran-btn {
  background-color: #355070;
}

#javascript-btn {
  background-color: #6D597A;
}

#python-btn {
  background-color: #B56576;
}

#sql-btn {
  background-color: #E56B6F;
}

#all-btn {
  background-color: rgb(47, 47, 47);
}

#form-title {
  font-family: 'Bagel Fat One', cursive;
  color: whitesmoke;
  font-size: xx-large;
}

#submit-btn {
  background-color: #E56B6F;
}

#card-space {
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#Fortran-card {
  background-color: #355070;
  color: whitesmoke
}

#JavaScript-card {
  background-color: #6D597A;
  color: whitesmoke;
}

#Python-card {
  background-color: #B56576;
  color: whitesmoke;
}

#SQL-card {
  background-color: #E56B6F;
  color: whitesmoke;
}

#card-lang {
  color: rgb(47, 47, 47) !important;
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px;
  border-radius: 20px;
}
